@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
        <title>Party!</title>
    </head>
    <body>
      <div>
        <div class="text-center m-2">
           <h3> We're going to have a party! </h3>
            <h4>And YOU'RE Invited</h4>
            <a  class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
        </div>       
      </div>
    </body>
</html>