@model  PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Thanks</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    </head>
    <body class="text-center">
        <div>
            <h1>Thank you, @Model?.Name</h1>
            @if(Model?.WillAttend == true) {
                @:Noice Bro
            } else {
                @:Sorry you're a lame
            }
        </div>
        Click <a asp-action="ListResponses">here</a> to see who's coming.      
        <script src="" async defer></script>
    </body>
</html>