
@model ProductListViewModel

    @foreach (var p in Model?.Products ?? Enumerable.Empty<Product>()) 
    {
        <div>
            <h3>@p.ProductName</h3>
            @p.ProductDescription
            <h4>@p.ProductPrice.ToString("c")</h4>
        </div>
   
    }
    <div page-model="@Model?.PagingInfo" page-action="Index"></div>